.chat__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding-top: 100px;
  padding-bottom: 300px;
}

.chat__messages-container {
  display: flex;
  flex-direction: column;
  align-items: start;
  width: 600px;
  margin-top: 24px;
  gap: 24px;
}

.chat__message {
  display: grid;
  grid-template-columns: 40px auto;
}

.chat__message__avatar-container {
  border-radius: 100%;
  overflow: hidden;
  height: 40px;
  width: 40px;
}

.chat__message__avatar-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.chat__message__main {
  margin-left: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.chat__message__author {
  font-size: 16px;
  font-weight: 600;
}

.chat__message__content {
  font-size: 16px;
  font-weight: 400;
}

.chat__message__content--app-showcase {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.chat__message__video {
  max-height: 300px;
  width: auto;
  border-radius: 8px;
}

.chat__message__app-icon {
  width: 24px;
  height: 24px;
  border-radius: 4px;
  display: inline-block;
}

.chat__message__links-container {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
}

.chat__message__links-container a {
  color: var(--link-color);
}

.chat__message__links-container a:hover {
  color: var(--link-hover-color);
}

/*
MARK: Media queries
*/
@media screen and (max-width: 624px) {
  .chat__messages-container {
    width: 100vw;
    padding: 16px;
  }
}
