.bottom__project-list-spacer,
.pl-menu-pseudo-spacer,
.pl-menu__container {
  width: 360px;
  flex-shrink: 0;
  transition: width 0.4s ease;
}

.bottom__project-list-spacer--hidden,
.pl-menu__container--hidden,
.pl-menu-pseudo-spacer--hidden {
  width: 0px;
}

.pl-menu__header {
  display: none;
}

.pl-menu__container {
  position: fixed;
  bottom: 0;
  overflow: hidden;
  top: 120px;
  padding-left: 40px;
  z-index: 1;
}

/*
MARK: Project list
*/
.project-list {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: calc(100vh - 120px - 170px);
  padding-bottom: 120px;
  gap: 20px;

  /* Custom scrollbar styles */
  scrollbar-width: thin; /* For Firefox */
  scrollbar-color: var(--scrollbar-thumb-color) var(--scrollbar-track-color); /* For Firefox */
}

.project-list::-webkit-scrollbar {
  width: 8px; /* Width of the scrollbar */
}

.project-list::-webkit-scrollbar-track {
  background: var(--scrollbar-track-color); /* Track color */
}

.project-list::-webkit-scrollbar-thumb {
  background: var(--scrollbar-thumb-color); /* Thumb color */
  border-radius: 4px; /* Rounded corners for the thumb */
}

.project-list::-webkit-scrollbar-thumb:hover {
  background: var(--scrollbar-thumb-hover-color); /* Thumb hover color */
}

.project-list__info {
  opacity: 0;
  transition: opacity 0.2s ease;
  font-weight: 600;
}

.project-list:hover .project-list__info {
  opacity: 1;
}

.project-block__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.project-block__lock-icon {
  width: 18px;
  height: 18px;
  margin-left: 12px;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.project-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  width: 300px;
  cursor: pointer;
  padding: 0;
  transition: padding 0.2s ease, background-color 0.2s ease,
    box-shadow 0.2s ease;
  border-radius: 6px;
  padding: 4px;
}

.project-block:hover,
.project-block--selected {
  padding: 8px;
  background-color: var(--project-block-hover-color);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.project-block--selected + .project-block__lock-icon {
  opacity: 1;
}

.project-block__img-container {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  overflow: hidden;
}

.project-block__img-container img {
  width: 100%;
  height: 100%;
}

.project-block__name-container {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.project-block__name-container h2 {
  font-size: 16px;
  font-weight: normal;
}

.project-block__name-container p {
  font-size: 14px;
  font-weight: normal;
  color: var(--on-surface-color--fade);
}

.project-block__year {
  margin-left: auto;
  font-size: 16px;
  font-weight: normal;
  color: var(--on-surface-color--fade);
}

@media screen and (max-width: 984px) {
  .bottom__project-list-spacer,
  .pl-menu-pseudo-spacer {
    width: 0px;
    transition: none;
  }

  .pl-menu__overlay {
    z-index: 2;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
  }

  .pl-menu__container {
    position: fixed;
    overflow: hidden;
    padding: 0;

    transition: left 0.2s ease;

    top: 0;
    left: 0;
    width: 360px;
    bottom: 0;
    z-index: 3;
    padding: 0 20px;

    background-color: var(--surface-color);
  }

  .pl-menu__container--hidden {
    left: -400px;
  }

  .pl-menu__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 72px;
  }

  .pl-menu__header__close-button {
    all: unset;
    cursor: pointer;
    width: 24px;
    height: 24px;
  }

  .pl-menu__header__close-button__icon {
    width: 24px;
    stroke: var(--on-clear-material-color);
  }

  .project-list {
    height: 100%;
  }
}

@media screen and (max-width: 624px) {
  .pl-menu__container {
    width: 100vw;
  }

  .pl-menu__container--hidden {
    left: calc(-100vw - 100px);
  }

  .project-list {
    gap: 32px;
  }

  .project-block {
    width: 100%;
  }
}
