.bottom__project-list-spacer,
.pl-menu-pseudo-spacer,
.pl-menu__container {
  width: 250px;
}

.bottom__project-list-spacer,
.pl-menu-pseudo-spacer,
.pl-menu__container {
  transition: width 0.2s ease;
}

.bottom__project-list-spacer--hidden,
.pl-menu__container--hidden,
.pl-menu-pseudo-spacer--hidden {
  width: 0px;
}

.pl-menu__container {
  position: fixed;
  overflow: hidden;
}
