.home-container {
  display: flex;
  flex-direction: column;
  align-items: start;
}

.hero__image-container {
  margin-right: 12px;
}

.hero__image-container img {
  width: 42px;
  height: 42px;
}

.gradient-emphasis-text {
  background: linear-gradient(
    45deg,
    #f43e3e,
    #dd9f66
  ); /* Define the gradient */
  background-clip: text; /* Standard property for compatibility */
  -webkit-background-clip: text; /* Clip the background to the text */
  -webkit-text-fill-color: transparent; /* Make the text itself transparent */
}

.hero h1 {
  font-size: 22px;
  line-height: 26px;
}
