.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #f0f0f0; /* Optional background color */

  background-color: hsla(180, 1%, 97%, 1);
  background-image: radial-gradient(
      at 81% 65%,
      hsla(218, 98%, 94%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 95% 99%, rgb(255, 236, 215) 0px, transparent 50%),
    radial-gradient(at 48% 26%, rgb(245, 218, 249) 0px, transparent 50%),
    radial-gradient(at 75% 26%, rgb(209, 242, 224) 0px, transparent 50%);

  background-size: 500% 500%;
  animation: gradient 9s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.home-container {
  display: flex;
  flex-direction: row;
  align-items: start;
}

.hero__image-container {
  margin-right: 12px;
}

.hero__image-container img {
  width: 42px;
  height: 42px;
}

.gradient-emphasis-text {
  background: linear-gradient(
    45deg,
    #f43e3e,
    #dd9f66
  ); /* Define the gradient */
  background-clip: text; /* Standard property for compatibility */
  -webkit-background-clip: text; /* Clip the background to the text */
  -webkit-text-fill-color: transparent; /* Make the text itself transparent */
}

.hero__text h1 {
  font-size: 22px;
  line-height: 26px;
}
