.home {
  position: relative;
  width: 100%;
  min-height: 100vh;
  background-color: #f0f0f0; /* Optional background color */

  background-color: hsla(180, 1%, 97%, 1);
  background-image: radial-gradient(
      at 81% 65%,
      hsla(218, 98%, 94%, 1) 0px,
      transparent 50%
    ),
    radial-gradient(at 95% 99%, rgb(255, 236, 215) 0px, transparent 50%),
    radial-gradient(at 48% 26%, rgb(245, 218, 249) 0px, transparent 50%),
    radial-gradient(at 75% 26%, rgb(209, 242, 224) 0px, transparent 50%);

  background-size: 500% 500%;
  animation: gradient 9s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*
MARK: PROJECT LIST
*/

.project-list {
  display: flex;
  flex-direction: column;
  margin-top: 25vh;
  margin-left: 7vw;
  gap: 20px;
}

.project-list__info {
  opacity: 0;
  transition: opacity 0.2s ease;
  font-weight: 600;
}

.project-list:hover .project-list__info {
  opacity: 1;
}

.project-block__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.project-block__lock-icon {
  width: 18px;
  height: 18px;
  margin-left: 8px;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.project-block {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  width: 300px;
  cursor: pointer;
  padding: 0;
  transition: padding 0.2s ease, background-color 0.2s ease,
    box-shadow 0.2s ease;
  border-radius: 6px;
  padding: 4px;
}

.project-block:hover,
.project-block--selected {
  padding: 8px;
  background-color: var(--project-block-hover-color);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

.project-block--selected + .project-block__lock-icon {
  opacity: 1;
}

.project-block__img-container {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  overflow: hidden;
}

.project-block__img-container img {
  width: 100%;
  height: 100%;
}

.project-block__name-container {
  display: flex;
  flex-direction: column;
  gap: 0px;
}

.project-block__name-container h2 {
  font-size: 16px;
  font-weight: normal;
}

.project-block__name-container p {
  font-size: 14px;
  font-weight: normal;
  color: var(--on-surface-fade-colo--fade);
}

.project-block__year {
  margin-left: auto;
  font-size: 16px;
  font-weight: normal;
  color: var(--on-surface-color--fade);
}

/*
MARK: HERO 
*/

.hero {
  position: fixed;
  top: 30vh;
  left: 50%;
  translate: -50% 0;
  padding-bottom: 100px;
  display: flex;
  flex-direction: row;
}

.hero__image-container {
  margin-right: 12px;
}

.hero__image-container img {
  width: 42px;
  height: 42px;
}

.gradient-emphasis-text {
  background: linear-gradient(
    45deg,
    #f43e3e,
    #dd9f66
  ); /* Define the gradient */
  background-clip: text; /* Standard property for compatibility */
  -webkit-background-clip: text; /* Clip the background to the text */
  -webkit-text-fill-color: transparent; /* Make the text itself transparent */
}

.hero h1 {
  font-size: 22px;
  line-height: 26px;
}

.hero__links {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 16px;
  gap: 16px;
}

.hero__links a {
  color: var(--link-color);
  transition: color 0.3s ease;
}

.hero__links a:hover {
  color: var(--on-surface-color);
}
