:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: #222;
  background-color: #f6ebeb;

  --surface-color: #fcefef;
  --on-surface-color: #222;
  --on-surface-color--fade: #8e8e8e;
  --input-color: #e0e0e0;
  --input-interactable-color: #212121;
  --input-interactable-color--disabled: #414141;
  --on-input-interactable-color: #e7e7e7;
  --on-input-interactable-color--disabled: #c2c2c2;
  --link-color: #8e8e8e;
  --project-block-hover-color: #f3f3f3;

  --clear-material-border: 1px solid rgba(214, 214, 214, 0.5);
  --clear-material-color: rgba(255, 255, 255, 0.4);
  --on-clear-material-color: #222;
  --clear-material-interactable-color: #222;
  --on-clear-material-interactable-color: #fff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

main {
  flex: auto;
  display: flex;
  align-items: center;
  margin: 0 auto;
}

.noselect {
  user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
}

.hero__links {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 16px;
  gap: 16px;
}

.hero__links a {
  color: var(--link-color);
  transition: color 0.3s ease;
}

.hero__links a:hover {
  color: var(--on-surface-color);
}

* {
  box-sizing: border-box;
}
/* 
@media (prefers-color-scheme: dark) {
	:root {
		color: #ccc;
		background-color: #1a1a1a;
	}
} */
